<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="helloWorldService" class="com.xw.io.springboot.service.HelloWorldService">
        <constructor-arg index="0" value="xw"/>
    </bean>

    <bean id="ssBean" class="com.xw.io.springboot.service.SS">
        <!--<property name="iss" value="1"/>-->
    </bean>

    <!--Seems that springboot auto-detected this dataSource bean-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <!-- 基本属性 url，user，password -->
        <property name="url" value="${spring.datasource.druid.url}"/>
        <property name="username" value="${spring.datasource.druid.username}"/>
        <property name="password" value="${spring.datasource.druid.password}"/>

        <!-- driverClassName, druid可以根据url前缀自动选择 -->
        <property name="driverClassName" value="${spring.datasource.druid.driver-class-name}"/>

        <!-- 配置监控统计拦截的filter -->
        <property name="filters" value="stat"/>

        <!-- 初始化大小，最大，最小 -->
        <property name="initialSize" value="1"/>
        <property name="maxActive" value="20"/>
        <property name="minIdle" value="1"/>

        <!-- 获取数据库连接最大超时时间 -->
        <property name="maxWait" value="60000"/>

        <!-- 配置间隔多久进行一次检测，检测需要关闭的空闲连接，单位毫秒 -->
        <property name="timeBetweenEvictionRunsMillis" value="60000"/>

        <!-- 配置一个连接在池中最小生存时间，单位毫秒 -->
        <property name="minEvictableIdleTimeMillis" value="300000"/>

        <property name="validationQuery" value="SELECT 'x'"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="false"/>
        <property name="testOnReturn" value="false"/>

        <!-- 打开PSCache，并且指定每个连接上PSCache的大小，oracle建议打开，mysql建议关闭 -->
        <property name="poolPreparedStatements" value="true"/>
        <property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>

        <!-- 初始化的时候建立大量连接，开启该属性可以加快速度 -->
        <property name="asyncInit" value="true"/>
    </bean>
</beans>